.contenedor1{
    background-color: #252525;
}
.contenedor2{
    background-color: black;
    width: 100%;
    padding: 15%;
    animation-name: example;
    animation-duration: 6s;
}
@keyframes example{
    from {background-color: #252525;}
  to {background-color: black;}
  }



.contenedor3{
    background-color: #252525;
    width: 100%;
    padding: 15%;
}

.contenedor4{
    background-color: #252525;
    width: 100%;
    padding: 15% ;
    animation-name: cont4;
    animation-duration: 6s;
}

@keyframes cont4{
    from{
        background-color: #252525;
    }
    to {
        background-color: black;
    }
}



.imagen1{
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 1%;
    width: 30%;
}
.h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2%;
}
.textocont2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.proyecto1{
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 1%;
    width: 50%;
}